@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
:root {
    --bg-color: #f0f0f0;
    --border-color: #e6e6e6;
    --design-color: #e6563b;
    --develop-color: #eb9d3a;
    --support-color: #7cb06c;
    --host-color: #00aba9;
}

.primaryFont {
    font-family: 'Anton', sans-serif;
}
.secondaryFont {
    font-family: 'Abel', sans-serif;
}

body {
    background-color: var(--bg-color);
}

#logo {
    width: 2rem;
}

#maintitle {
    font-size: 4rem;

}
#subtitle {
    font-size: 2.5rem;
}
.featured {
    display: flex;
}
.featuredtext {
    display: flex;
    flex-grow: 2;
    margin: auto;
}
.btn-circle.btn-xl {
    width: 6rem;
    height: 6rem;
    font-family: 'Anton', sans-serif;
    color: white;
    padding: .625rem 1rem;
    border-radius: 3rem;
    border-width: .5rem;
    border-color: white;
    font-size: 1rem;
    line-height: 1.33;
}
.btn-circle.btn-sm {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0;
    margin: .2rem;
    font-family: 'Anton', sans-serif;
}
.btn-circle:hover {
    border-color: var(--bg-color);
    color: var(--bg-color);
}
.design {
    background-color: var(--design-color)
}
.develop {
    background-color: var(--develop-color)
}
.support {
    background-color: var(--support-color)
}
.host {
    background-color: var(--host-color)
}

.container {
    padding: .5rem;
}

#fullbuttons {
    flex-wrap: wrap;
    display: flex;
}
.fullbtns {
    min-width: 1%;
    display: flex;
    justify-content: space-evenly;

}

.lastImages {
    height: 5rem;
    max-width: 40%;
}

/*this is the font syntax for the smaller font */
/*!*font-family: 'Abel', sans-serif;*!*/

/*this is the syntax for the larger font*/
/*font-family: 'Anton', sans-serif;*/
