@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
:root {
    --bg-color: #f0f0f0;
    --border-color: #e6e6e6;
    --design-color: #e6563b;
    --develop-color: #eb9d3a;
    --support-color: #7cb06c;
    --host-color: #00aba9;
}

body {
    background-color: var(--bg-color);
}

#logo {
    width: 2rem;
}
#title {
    font-family: 'Anton', sans-serif;
}

#maintitle {
    font-size: 4rem;

}
#subtitle {
    font-size: 2.5rem;
}

.btn-circle.btn-xl {
    width: 6rem;
    height: 6rem;
    font-family: 'Anton', sans-serif;
    color: white;
    padding: .625rem 1rem;
    border-radius: 3rem;
    border-width: .5rem;
    border-color: white;
    font-size: 1rem;
    line-height: 1.33;
}
.design {
    background-color: var(--design-color)
}
.develop {
    background-color: var(--develop-color)
}
.support {
    background-color: var(--support-color)
}
.host {
    background-color: var(--host-color)
}




/*this is the font syntax for the smaller font */
/*font-family: 'Abel', sans-serif;*/
