@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');


#logo {
    width: 30px
}
#title {
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
}



/*this is the font syntax for the smaller font */
/*font-family: 'Abel', sans-serif;*/
